PORT=8787
CORS_ORIGIN=https://athifjey.github.io
PUSH_ADMIN_TOKEN=replace-with-long-random-token
ADMIN_PAGE_PASSWORD=Athif 1303@@@
VAPID_SUBJECT=mailto:you@example.com
VAPID_PUBLIC_KEY=your-vapid-public-key
VAPID_PRIVATE_KEY=your-vapid-private-key
PUSH_SUBSCRIPTIONS_FILE=./subscriptions.json
